<div class="row h-100 w-100 chat position-relative d-flex">

  <app-message-list *ngIf="roomId; else elseBlock" class="w-100" [messages]="messages"></app-message-list>

  <div class="input-group position-absolute chat-input" *ngIf="roomId">
      <input (keyup.enter)="send()" class="form-control border-0" [(ngModel)]="input" placeholder="Type something here..."/>
      <div class="input-group-append">
        <button type="submit" (click)="send()" class="btn px-2 bg-white">
          <fa-icon [icon]="faPaperPlane"></fa-icon>
        </button>
      </div>
  </div>

  <ng-template #elseBlock>
    <div class="row align-self-center w-100" >
      <div class="col d-flex justify-content-center opacity-75">
        <span class="text-white text-center bg-dark py-2 px-3 rounded-pill">Please select a chat to start messaging</span>
      </div>
    </div>
  </ng-template>

</div>
