.chat {
  background-image: url("~assets/background-image.jpg") ;
  background-size: cover;
  background-repeat: no-repeat;
}

.chat-input {
  bottom: 0;
  left: 0;
}

.opacity-75 {
  opacity: 0.75;
}
