/* You can add global styles to this file, and also import other style files */

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

$theme-colors: (
  "primary" : #419FD9,
  "secondary": #4B5D68,
  "lime": #F7F6F9
);

@import "~bootstrap/scss/bootstrap";


html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.bg-gradient {
  background: linear-gradient(334.42deg, #17A2EF 27.32%, #40C0FF 70.78%);
}
